.kalimat {
color: white;
}
.kalimat1{
    background-color: pink;
}
.card{
    color: burlywood;
    align-items: center;
}
body{
    background-image: url(ai-generated-pink-flowers-create-a-beautiful-serene-background-ai-generated-photo.jpg);
}